body{
    background-color: rgb(38, 72, 83);
    color: green;
    padding: 20px;
    text-align: center;
}

button{
    background-color: green;
    color: blanchedalmond;
    text-align: center;
}

h1{
    color: rgb(43, 83, 226);
    font-size: 70px;
    text-align: center;
}
label{
    font-size: 24px;
    color: rgb(119, 119, 235);
}

input{
    height: 30px;
    border-radius: 20px;
    border: 2px solid lightgreen;
    
}